<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div (click)="getDate('PST')" [ngClass]="{selected: selectedzone === 'PST', timezone: true}">PST</div>
<div (click)="getDate('MST')" [ngClass]="{selected: selectedzone === 'MST', timezone: true}">MST</div>
<div (click)="getDate('CST')" [ngClass]="{selected: selectedzone === 'CST', timezone: true}">CST</div>
<div (click)="getDate('EST')" [ngClass]="{selected: selectedzone === 'EST', timezone: true}">EST</div>
<div (click)="clear()" class="timezone">Clear</div>

<p>{{time | date:'medium'}}</p>