<h1>Edit Product</h1>
<form (submit)="onUpdate()" #formData="ngForm">
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="product.title" required minlength="4" #title='ngModel'>
    <label for="price">Price $</label>
    <input type="number" name="price" [(ngModel)]="product.price" required>
    <label for="url">Image URL</label>
    <input type="text" name="url" [(ngModel)]="product.url">
    <input type="submit" [disabled]="!formData.valid" value="Submit">
    <button (click)= "onDelete(product.id)">Delete</button>
</form>