<article>
  <div class="location">
    <h2>Farm</h2>
    <img src="../../assets/img/farm.jpg" alt="chicken">
    <p>Earns 2-5 Gold</p>
    <input type="submit" value="Farm!" (click)="getPoints(0)" class="button">
  </div>
  <div class="location">
    <h2>Cave</h2>
    <img src="../../assets/img/cave.jpg" alt="cave">
    <p>Earns 5-10 Gold</p>
    <input type="submit" value="Cave!" class="button" (click)="getPoints(1)">
  </div>
  <div class="location"> 
    <h2>Casino</h2>
    <img src="../../assets/img/casino.jpg" alt="casino">
    <p>Earns or lose up to 100 Gold</p>
    <input type="submit" value="Casino!" class="button" (click)="getPoints(2)">
  </div>
  <div class="location"> 
    <h2>House</h2>
    <img src="../../assets/img/house.jpg" alt="house">
    <p>Earns 7-15 Gold</p>
    <input type="submit" value="House!" class="button" (click)="getPoints(3)">
  </div>
</article>