#wrapper{
    text-align: center;
}
.element {
    display: inline-block;
    width: 50px;
    border: 1px solid black;
    text-align: center;
    padding: 5px 20px;
    margin-left: 20px;
    cursor: pointer;
    background-color: darkblue;
}

.on, .off {
    line-height:50px;
    border: 1px solid black;
}

.off {
    background-color: red;
}

.on {
    background-color: green;
}